/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');

/* ------------------------ GENERAL ----------------- */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('29135.jpg') no-repeat center center;
    background-size: cover;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------------------ NAVBAR ----------------- */
header{
    display:flex;
    justify-content: space-between;
    color: white;
    background: rgba(0,0,0,0.2);
    padding: 0.5rem 1rem;
}

header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pacifico', cursive;
}

header div i{
    font-size: 2rem;
    margin: 0 0.5rem;
}

header nav{
    padding: 1rem 2rem;
}

nav ul{
    padding:0;
    margin:0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

nav li a{
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
    text-decoration: none;
    color: white;
    transition: all 250ms ease-in;
}

nav li a:hover{
    background: rgba(255,255,255,0.3);
    color: black;
    border-radius: 5px;
}

/* ------------------------ TOP SECTION ----------------- */
.titles{
    color: white;
    text-align: center;
    width: 50vw;
    margin: 2rem auto;
}

.titles h1{
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px black;
}

.titles p{
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}

/* ------------------------ BOX SECTION ----------------- */
.container-boxes{
    margin: 2rem auto;
    padding: 0;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 80vw;
    flex-wrap: wrap;
}

.box{
    background: rgba(255,255,255,0.5);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 350px;
    min-height: 180px;
    border-radius: 10px;
    transition: all 250ms ease-out;
    cursor: pointer;
}

.box:hover{
    background: rgba(255,255,255,0.7);
    transform: translateY(-10%);
}

.icon{
    font-size: 3rem;
    padding: 0.5rem;
}

.text h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.text p{
    margin-top: 0.5rem;
    line-height: 1.5rem;
    text-align: left;
}

/* ------------------------ MEDIA QUERIES ----------------- */
@media (max-width: 1160px){
    .icon{
        font-size: 2rem;
        padding: 0.5rem;
    }
    .text h3{
        font-size: 1rem;
    }
    .text p{
        font-size: 0.8rem;
    }
}

@media (max-width: 850px){
    body{
        height: auto;
    }
    .container-boxes{
        flex-direction: column;
        align-items: center;
    }
    .box:hover{
        transform: none;
    }
    .titles h1{
        font-size: 3rem;
    }
}
